.editor {
    /* height: 100%; */
    overflow-y: auto;
}

.CodeMirror {
    background: none
}

.EasyMDEContainer {
    /* width: 100%;
    height: 100%;
    overflow-y: auto; */
}

.EasyMDEContainer .CodeMirror {
    border: none;
    /* height: 100%; */
}